<!DOCTYPE html>
<html> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta property="wb:webmaster" content="8af72a3a7309f0ee">
    <title><notempty name='article'>{$article.title}-</notempty>{$config.title|default="虚拟币交易网站"}</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layout.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/subpage.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/user.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/coin.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zcpc.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/demo.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jb_style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/hb_index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fhb_trade.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fhb_miao.css">

    <script src="__PUBLIC__/Home/js/hm.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/downList.js"></script>


    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/messages_zh.min.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>
<style>
.user_boxsize{ width:400px !important;}
.balance_list{ margin-left:70px; width:180px; float:left;}
.mywallet_btn_box{ width:380px;}
.top_colorhover:hover{ color:#fff !important;}
.menubox_position{ right:0% !important; width:140px !important;}
.head_user_option{    position: relative;}
<!--头部公告-->
.head_notice_header {
    height: 35px;
    line-height: 35px;
    clear: both;
    background: #fffaf4;
    color: #999;
    position: relative;
}
.head_notice_header .notice_info {
    text-align: center;
}
.head_notice_header a {
    color: #ff6000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 950px;
}	
.head_notice_header .close {
    position: absolute;
    right: 11px;
    top: 0;
}
.head_notice_header a:hover {
    color: #ec3523;
}

.qh_sub{
	position: relative;
	padding-left: 60px;
}
.qh_sub a{
	color: black !important;
}
.qh_sub a:hover{
	color: #F6A500 !important;
}
.qh_sub img{
	position: absolute;
	top: 9px;
	left: 22px;
	width: 28%;
	height: 76%;
	
}
<eq name="Think.session.is_phone" value="1">.qh_fixed{
	position: fixed !important;
	/*top: 0;
	left: 0;*/
	z-index: 100;
	width: 100%;
}
.qh_kong{
	width: 100%;
	height: 103px;
}</eq>
<!--头部公告结束-->
</style>
</head>
<body style="height:100%;">

<!--top start-->
<div class="qh_fixed">
<div id="doc_top_bar">
    <div class="section">
        <div class="float_left  head_user_option">
				
				<a  class="option" >您好，欢迎您来到 STICO</a>
				<notempty name="member">
					<a data-widget="#user_slide" href="{:U('ModifyMember/modify')}" class="option " id="user_slide">
						你好，{$Think.session.USER_KEY} 
					              
							<i class="icon_gray_arrows"></i>
					</a>
					<a data-widget="#message_slide" href="#" class="option top_msg top_msg_new top_colorhover" id="message_slide">(UID: {$Think.session.USER_KEY_ID} )</a>
					<a data-widget="#message_slide" href="#" class="option top_msg top_msg_new top_colorhover" id="message_slide">
						会员等级:
							<if condition="($total gt 50) ">钻石会员
								<elseif condition=" ($total lt 10) and ($total gt 4) "/>铜牌会员
								<elseif condition=" ($total lt 20) and ($total gt 9) "/>银牌会员
								<elseif condition=" ($total lt 50) and ($total gt 19) "/>金牌会员
								<else /> 普通会员
							</if>
					</a>
					<a href="{:U('Login/loginOut')}" class="option">退出</a>
					<i class="seg"></i>
					<a  href="#" class="option last" id="menu_slide">我的账户</a>
					<i class="seg sub_show"></i>
				<div data-widget="#user_slide" class="slide_box user_slide_box user_boxsize" id="user_slide_box">
				    <div class="clear"><ul class="balance_list"><h4>可用余额</h4><li><a href="javascript:void(0)"><em style="margin-top: 5px;" class="deal_list_pic_cny"></em><strong>人民币：</strong><span>{$member.rmb}</span></a></li></ul><ul class="freeze_list"><h4>委托冻结</h4><li><a href="javascript:void(0)"><em style="margin-top: 5px;" class="deal_list_pic_cny"></em><strong>人民币：</strong><span>{$member.forzen_rmb}</span></a></li></ul></div>
				    <div class="mywallet_btn_box" style=" margin-left:20px;"><a  href="javascript:void(0)" onclick="confirm_fill();"  >充值</a><a href="{:U('User/draw')}">提现</a><a href="{:U('User/index')}">转入</a><a href="{:U('User/index')}">转出</a><a href="{:U('Entrust/manage')}">委托管理</a><a href="{:U('Trade/myDeal')}">成交查询</a></div>
				</div>
				
				<div class="slide_box menu_slide_box menubox_position" id="menu_slide_box">
					<div class="bd">
						<dl class="menu_1">
							<dd><a href="{:U('User/index')}">我的资产</a></dd>
							<dd><a href="{:U('Entrust/manage')}">我的交易</a></dd>
							<!--<dd><a href="{:U('User/zhongchou')}">我的众筹</a></dd>-->
							<dd><a   href="javascript:void(0)" onclick="confirm_fill();"  >人民币充值</a></dd>
							<dd><a href="{:U('User/draw')}" >人民币提现</a></dd>
							<dd><a href="{:U('User/index')}">充积分提积分</a></dd>
				            <dd><a href="{:U('User/updatePassword')}">修改密码</a></dd>
							<dd><a href="{:U('User/sysMassage')}">系统消息<span class="messagenum" id="messagenum_common">{$count}</a></dd>
						</dl>
					</div>
				</div>
				<script>
					$(document).ready(function(){
						$("#menu_slide").mouseenter(
							function(){
								$("#menu_slide_box").show();
							}
						).mouseout(
							function(){
								$("#menu_slide_box").hover(
									function(){
										$("#menu_slide_box").show();
									},
									function(){
									$("#menu_slide_box").hide();
									}
								)
								$("#menu_slide_box").hide();
							}
						)
						
						$("#user_slide").mouseenter(
							function(){
								$("#user_slide_box").show();
							}
						).mouseout(
							function(){
								$("#user_slide_box").hover(
									function(){
										$("#user_slide_box").show();
									},
									function(){
									$("#user_slide_box").hide();
									}
								)
								$("#user_slide_box").hide();
							}
						)
					})
					
					</script>
					<div data-widget="#head_lang" class="slide_box lang_slide_box" id="head_lang_box">
						<a href="#" data-lang="en" class=""><i class="icon_lang icon_lang_en"></i>&nbsp;&nbsp;English</a>
					</div>
				</notempty>
				<empty name="member">
				<a class="option icon_position" href="{:U('Login/index')}">[登录]</a>
					<!-- <i class="seg"></i> -->
				<a rel="nofollow" href="{:U('Reg/reg')}">
					<span style="color:#FF8938">[免费注册]</span>
				</a>
				</empty>
				
        </div>
     <div class="float_right head_user_option" style="margin-right:40px">
     			<a class="option icon_position" href="http://wpa.qq.com/msgrd?v=3&uin=524760321&site=qq&menu=yes" target="__blank">在线咨询</a>
     			<i class="seg"></i>
     			<a class="option icon_position" href="{:U('Art/details',array('team_id'=>325))}">关于我们</a>
     			<i class="seg"></i>
     			<a class="option icon_position" href="{:U('Help/index')}">新手引导</a>
     			<i class="seg"></i>
				<a class="option icon_position" href="{:U('Help/index')}">帮助中心</a>
				<b>交易时间：9:00-21:00</b>
     </div>
    </div>
</div>
<hr style="margin:0" />
<div id="doc_head" >
    <div class="head_masthead">
        <div class="section relative clear" style="min-width:1200px">
            <h1 class="head_logo">
                <img style=" height:68px;" src="{$config.logo}" />
            </h1>
			<notempty name="member">
            <!-- 登录后 显示资产-->
            <div class="head_balance float_right" style="margin-right:40px">
                <div data-widget="#head_balance" class="bar" id="head_balance" data-currency="" style="position:relative;z-index:2;right:-20%"  data-allow_cny="" data-allow_usd="">
                                           总资产
                <i class="symbol font_14">¥</i> 
                <span data-flaunted="1" data-flaunt="0.0000" class="convert_net_btc font_14" style="font-weight: 400;" id='total_common_money1'>--{$member['rmb']+$member['forzen_rmb']+$sum}--</span>
                       <!-- <i data-visible="visible" id="flaunt" class="icon_eye"></i> -->
                    <div class="handle">
                        <i class="icon_white_arrows"></i>
                    </div>
                </div>
                <div data-widget="#head_balance" class="info" style="right:-20%"  id="head_balance_box">
                    <dl>
                                                <dt class="total">
                            <span class="label">总资产</span>
                            <span class="font_orange"><i class="symbol">¥</i><b style="font-weight: 400;" data-flaunted="1" data-flaunt="0.0000" class="convert_total_btc" id='total_common_money'>--{$member['rmb']+$member['forzen_rmb']+$sum}--</b> </span>
                        </dt>
                        <!-- <dt class="total_2">
                            <span class="label">净资产</span>
                            <span class="font_orange"><i class="symbol">฿</i> <b style="font-weight: 400;" data-flaunted="1" data-flaunt="0.0000" class="convert_net_btc">0.0000</b> </span>
                        </dt> -->
                        
                        <dt>人民币现货账户</dt>
                        <dd>
                            <span class="label">可用</span>
                            <span class="c_1"><i class="symbol">¥</i> <b style="font-weight: 400;" data-flaunted="1" data-flaunt="0.00" class="cny_cny_available">{$member.rmb|default=0.00}</b> </span>
                        </dd>
                        <dd>
                            <span class="label">冻结</span>
                            <span class="c_1"><i class="symbol">¥</i> <b style="font-weight: 400;" data-flaunted="1" data-flaunt="0.00" class="cny_cny_frozen">{$member.forzen_rmb|default=0.00}</b> </span>
                        </dd>
                        <dd class="ratio cny_loan_rate_yes" style="display: none;">
                            资产/杠杆 <i class="font_orange">=</i> <b style="font-weight: 400;" data-flaunted="1" data-flaunt="0.00" class="font_orange cny_risk_rate">0.00</b><b class="font_orange">%</b>  &nbsp;
                            <span class="cny_loan_burst cny_loan_burst_price_no" style="">(爆仓值 110%)</span>
                            <span class="cny_loan_burst cny_loan_burst_price_btc" style="display: none;">(预估爆仓价比特币 <b class="font_orange">¥</b><b class="price font_orange">0</b>)</span>
                            <span class="cny_loan_burst cny_loan_burst_price_ltc" style="display: none;">(预估爆仓价莱特币 <b class="font_orange">¥</b><b class="price font_orange">0</b>)</span>
                        </dd>
                    </dl>
                    <div class="shortcut">
                                                <a href="javascript:void(0)" onclick="confirm_fill();" class="btn_orange">充值</a>
                        
                                                <a href="{:U('User/draw')}" class="btn_white">提现</a>
                                                
                    </div>
                </div>
            </div>
            <else/>
            <!-- 登录前 头部显示 登录-->
             <div class="head_login">
                <a href="{:U('Reg/reg')}"<eq name="style" value="2">class="login_btn" </eq>>注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{:U('Login/index')}"<eq name="style" value="1">class="login_btn" </eq>>登录</a>
                &nbsp;&nbsp;&nbsp;
            </div>
            </notempty>
            <div class="head_nav" id="head_nav">
                 <ul>
            		<li>
            			<a href="{:U('Index/index')}">首页</a>
            		</li>
            		<li class="multi">
            			<a href="{:U('Orders/currency_trade')}">交易中心</a>
               			<div class="sub">
							<volist name="currency_header" id="vo">
                            	<div class="qh_sub">
                            		<a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">
                            			<img src="{$vo.currency_logo}">{$vo.currency_name}
                            		</a>
                            	</div>
                            	<!-- <div class="qh_sub">
                            		<a href="{:U('Entrust/manage')}">
                            			<img src="__PUBLIC__/Home/images/qh_btb.png">委托管理
                            		</a>
                            	</div>
                            	<div class="qh_sub">
                            		<a href="{:U('Entrust/manage')}">
                            			<img src="__PUBLIC__/Home/images/qh_btb.png">委托管理
                            		</a>
                            	</div>
                            	<div class="qh_sub">
                            		<a href="{:U('Entrust/manage')}">
                            			<img src="__PUBLIC__/Home/images/qh_btb.png">委托管理
                            		</a>
                            	</div> -->
                          	</volist> 
                		</div>
            		</li>
         			<li>
         				<a href="{:U('Zhongchou/index')}">项目简介</a>
         			</li>
            		<li>
            			<a href="{:U('Safe/index')}">财务中心</a>
            		</li>
            		<!-- <li>
            			<a href="{:U('Help/index',array('id'=>60))}">安全中心</a>
            		</li> -->
            		<li>
            			<a href="{:U('Art/index',array('ramdon_id'=>'1'))}">公告</a>
            		</li>
            		<li>
            			<a href="{:U('Vote/vote')}">活动中心</a>
            		</li>
            		<!-- <li>
            			<a href="{:U('Market/index')}">行情中心</a>
            		</li> -->
            		<!--<li>
            			<a href="{:U('Dow/index')}">下载中心</a>
            		</li> -->
        		</ul>
                 
           	</div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
//异步加载个人资产以及系统未读消息条数信息  GS
$(function(){
	var session_id = {$Think.session.USER_KEY_ID}+0?{$Think.session.USER_KEY_ID}:0;
	if(session_id != 0)
	$.ajax({
		url:"{:U('Index/personinfo')}",
		type:'POST',
		dataType:'Json',
		success:function (data){
			//console.log(data);

			if(data.newMessageCount == 'false'){
				data.newMessageCount = '';
			}
			$('#total_common_money').html(data.allmoneys);
			$('#total_common_money1').html(data.allmoneys);
			if(data.newMessageCount == 0){
					$('#messagenum_common').remove();
					$('#messagenum2').remove();
				}else{
					$('#messagenum_common').html(data.newMessageCount);
					$('#messagenum2').html(data.newMessageCount);
				}
		}
	});
})

</script>


<div class="qh_kong"></div>
<script>
$(document).ready(function(){
	$("#head_balance").mouseenter(
		function(){
			$("#head_balance_box").show();
		}
	).mouseout(
		function(){
			$("#head_balance_box").hover(
				function(){
					$("#head_balance_box").show();
				},
				function(){
				$("#head_balance_box").hide();
				}
			)
			$("#head_balance_box").hide();
		}
	)
	
	$("#head_balance").mouseenter(
		function(){
			$("#head_balance_box").show();
		}
	).mouseout(
		function(){
			$("#head_balance_box").hover(
				function(){
					$("#head_balance_box").show();
				},
				function(){
				$("#head_balance_box").hide();
				}
			)
			$("#head_balance_box").hide();
		}
	)
})

</script>
<div class="pclxfsbox"> 
		<ul> 
			<!-- <li>
				<i class="pcicon1 iscion6" ></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>在线咨询</p>
						<p>{$config['worktime']|default="暂无"}</p>
					</div>
					<i></i>
				</div>
			</li> -->
			<li> 
				<i class="pcicon1 iscion1"></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p><img src="{$config['weixin']}" alt="微信公众号" width="90"></p>
						<p>{$config.name}{$config.micromsgname|default="微信公众号"}</p>
					</div>
					<i></i>
				</div>
			</li>
		

            <li>
				<i class="pcicon1 iscion3">
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$config.qq1}&site=qq&menu=yes"></a>
				</i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>{$config.qq1|default="暂无"}</p>
						<p>{$config.name}{$config.qqkufuname|default="QQ客服"}</p>
					</div>
					<i></i>
				</div>
			</li>

			<li>
				<i class="pcicon1 iscion4"></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>返回顶部</p>
					</div>
					<i></i>
				</div>
			</li>
		</ul>
	</div>
<script type="text/javascript">
	function confirm_fill(){
			window.location.href="{:U('User/pay')}";
	}
			
</script>
<script type="text/javascript"> 
		$(function(){
			$(".pcicon1").on("mouseover",function(){
				$(this).addClass("lbnora").next(".pcicon1box").css({"width":"148px"});
			}).on("mouseout",function(){
				$(this).removeClass("lbnora").next(".pcicon1box").css("width","0px");
			});
			$(".iscion4").on("click",function(){
				$("html, body").animate({
					scrollTop: 0
				})
			});

			var objWin;
			$("#opensq").on("click",function(){
				var top = window.screen.height/2 - 250;
				var left = window.screen.width/2 - 390;
				var target = "http://p.qiao.baidu.com//im/index?siteid=8050707&ucid=18622305"; 
				var cans = 'width=780,height=550,left='+left+',top='+top+',toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes' ;

				if((navigator.userAgent.indexOf('MSIE') >= 0)&&(navigator.userAgent.indexOf('Opera') < 0)){
						//objWin = window.open ('','baidubridge',cans) ; 
						if (objWin === undefined || objWin === null || objWin.closed) { 
							objWin = window.open (target,'baidubridge',cans) ; 
						}else { 
							objWin.focus();
						}
				}else{
					var win = window.open('','baidubridge',cans );
					if (win.location.href == "about:blank") {
					    //窗口不存在
					    win = window.open(target,'baidubridge',cans);
					} else {
					    win.focus();
					}
				}
				return false;

			})
		})
		
	</script>
<!--top end-->
