<include file="App/Home/View/Public/header.html" />
	<style>
		html,body,p{margin: 0; padding: 0}
		.container{min-width: 1200px;background: url(/Uploads/Public/Uploads/pic/bg1.png) no-repeat top left;}
		.container .row1_1200{width: 1200px;margin: 0 auto;height: 660px;}
		.container .row1_1200 .title{text-align: center;position: relative;}
		.container .row1_1200 .title .line1{font-size: 40px;color: #fff;font-weight: 600;display: inline-block;padding: 80px 0 50px 0;}
		.container .row1_1200 .title .line2{position: absolute;height: 4px;background-color: #f58623;width: 70px;top: 175px;left: 566px;}
		.container .row1_1200  .ctn{color: #fff;margin-top: 50px;padding: 0 16px;}
		.container .row1_1200  .ctn p{color: #fff;line-height: 30px;font-size: 16px;}
		.container .row1_1200  .ctn .row2{margin-top: 50px;}
		.container .row2_1200{width: 1200px;margin: 0 auto;padding-top: 50px;}
		.container .row2_1200 .row1{color: #000;padding: 0 16px;line-height: 30px;font-size: 16px;}
		.container .row2_1200 .row2 {padding-top: 50px;overflow: hidden;}
		.container .row2_1200 .row2 div{width: 33%;float: left;text-align: center;}
		.container .row2_1200 .row2 div span{display: block;font-weight: 700;font-size: 16px;}
		.container .row2_1200 .row3{padding: 30px 16px 50px;line-height: 30px;font-size: 16px;}
		.container .row2_1200 .row5{min-width: 1200px;}
		.container .row1_max{min-width: 1200px;}
		.container .row1_max img{width: 100%;display: block;}
		.container .row3_1200 {width: 1200px;margin: 0 auto;}
		.container .row3_1200  .title {text-align: center;color:#000;font-weight: 700;font-size: 40px;padding: 60px 0 50px}
		.container .row3_1200  .ctn{overflow: hidden;margin-bottom: 40px;}
		.container .row3_1200  .ctn .left{float: left;text-align: center;margin-left:120px;}
		.container .row3_1200  .ctn .left img{width: 370px;height: 480px;}
		.container .row3_1200  .ctn .right{float:right;text-align: center;margin-right:120px;}
		.container .row3_1200  .ctn .right img{width: 370px;height: 480px;}
		.container .row3_1200  .ctn dt{line-height: 60px;margin: 0;font-size: 16px;}
		.container .row3_1200  .ctn dd{line-height: 30px;margin: 0;font-size: 16px;}
		.container .row2_max{background:#f5f5f5;overflow: hidden; }
		.container .row2_max .w_1200{width: 1200px;background:#f5f5f5;margin: 0 auto;padding-top: 90px; }
		.container .row2_max .w_1200 div{float: left; }
		.container .row2_max .w_1200 .title{clear: both;text-align: center;padding: 30px 0 60px; }
		.container .row2_max .w_1200 .pic1{margin-left: 60px;}
		.container .row2_max .w_1200 .pic2{margin:0 40px;}
		.container .row2_max .w_1200 .pic1 img{width:500px ; height: 364px; }
		.container .row2_max .w_1200 .pic2 img, .container .row2_max .w_1200 .pic3 img{width:255px ; height: 366px; }
		.container .row3_max{min-width: 1200px;background: url(/Uploads/Public/Uploads/pic/bg4.png) no-repeat left top;background-size: 100% 100%}
		.container .row3_max .w_1200{width: 1200px;height: 400px;margin:0 auto;color: #fff;}
		.container .row3_max .w_1200 .title{padding:60px 0 50px;font-weight: 600;text-align: center;font-size: 30px; color:#fff;}
		.container .row3_max .w_1200 .ctn{line-height: 30px;padding: 0 16px;font-size: 16px;}
	</style>
</head>
<body>
	<div class="container">
		<div class="row1_1200">
			<p class="title">
				<span class="line1">白皮书</span>
				<span class="line2"></span>
			</p>
			<div class="ctn">
				<p class="row1">
					如今互联网时代到来，由于比特币的崛起，区块链瞬速火爆，各种不同的虚拟数字货币应运而生，很多人是因为比特币才知道区块链的存在，而类似比特币这种虚拟数字货币却只是区块链中的一个应用产物，然而很多虚拟数字货币真正起到了多少实际的本身价值呢？并没有，只是很多人把虚拟数字货币当做当初的股市、楼市来炒，博傻理论，看最后谁来接盘而已，由于大量的资金涌入虚拟数字货币反而给很多实体项目陷入了因资金链困难或断裂的艰难处境，而得不到良好的发展，社会的进步与发展永远离不开实业努力创造发展所做的贡献，近几年来，以多种所有制形式为特征的中小企业迅猛发展，为拉动国民经济增长发挥着越来越重要的作用。全国政协厉以宁委员指出，中国个体私营经济中99%是中小企业，其中77%面临资金短缺问题。随着中小企业数量的增多，其对资金的需求也越来越大。但由于种种原因，中小企业融资难已日益成为制约其发展的突出问题，我相信很多创业者对此也深有体会，而很多手头上有一部分资金投资的人又不知道该如何投资，找不到项目，对项目也缺乏判断，并且投资进去资金也不是随时需要用时随时可以撤出来，而且小额的资金对于企业也起不到根本性的作用。</p>
				<p class="row2">
					为此也响应中央倡导市场闲散资金更多服务于实体经济精神我们创建此平台，结合区块链技术打造全球首个实体项目积分新模式交易平台，充分利用散户资金完美对接实体项目，所发行的实体项目积分最终也全部将由实体项目所产生的利润来进行接盘。
		    	</p>
			</div>
		</div>
		<div class="row2_1200">
			<p class="row1">
				平台成立多个调查监管小组（每个项目的调查与监管都将落实到该项目调查监管小组的具体责任人，在该项目回购销毁完所有积分下架前该责任人对该项目的调查与监管负全责）对所有经平台筛选出来上线实体项目平台的项目都将公示考察过程及结果然后进行评级并附上平台意见及项目不足之处，项目方必须有详细的公司介绍、项目规划，每月将项目进度、工作内容、下时间段计划、财务报表等准时公之于众，并在上线前根据国家法律法规完成所需的监管备案再与平台签订合同拿出每月盈利的固定百分比交由平台回购销毁部门，平台调查监管小组会每月监管查阅项目方财务并公示每月所收到项目方的金额，平台拿项目方合同所签订的盈利百分比金额全部用于回购该项目方所发行的积分并立即销毁，直至项目方所发行的积分全部回购销毁，平台才与项目方合同终止并下架该项目。（为了防止后期所持积分人员知道流通积分已经不多坐地涨价，平台规定当回收达到第百分之八十个积分时，剩余百分之二十的积分将全按第百分之八十个积分的价钱回购，不再加价回购，项目方也只需要缴纳完其余百分之二十的积分价即合同终止），我们平台也将筹集一定资金到风险应急部门，万一该实体项目遇到自然灾害、政策变动、商业模式更新等不可抗力因素导致该项目方最终确定已再无回购销毁所发行的积分能力现象时，我平台为保障投资者利益将启动平台自行回购销毁机制，每月从风险应急部门拿出一定比例资金对该积分启动人道主义回购销毁。
				<br/>
				ST积分总发行量1亿，永不增发，团队持有百分之八十（8千万），前期推广百分之十（1千万），前期发售百分之十（1千万）。
				<br/>
			</p>
			<div class="row2">
				<div>
					<img src="/Uploads/Public/Uploads/pic/pic1.png" alt="">
					<span>团队持有(8千万)</span>
				</div>
				<div>
					<img src="/Uploads/Public/Uploads/pic/pic2.png" alt="">
					<span>前期推广(1千万)</span>
				</div>
				<div>
					<img src="/Uploads/Public/Uploads/pic/pic2.png" alt="">
					<span>前期发售(1千万)</span>
				</div>
			</div>
			<div class="row3">
				<strong>
					平台以后所有实体项目积分交易都用ST积分兑换，并且所有实体项目发行的积分都是在ST积分基础上发行的，所有实体项目都是在已经通过区块链技术手段成功研发出来了积分才上线本平台直接自由交易并可直接提到该项目的积分钱包（本平台不接受任何形式的前期ico众筹）。
				<br/>
					在ST积分单个价格在10元人民币以下时平台每月将盈利的百分之八十拿出来对ST积分进行回收，当单个ST积分价格高于十元人民币时平台将所持积分总量百分十的积分缓慢放还于市场，当单个ST积分价格高于二十元人民币时平台将所持积分总量百分二十的币缓慢放还于市场，以此类推，随着平台所持积分的数量的减少，放还的比例高了，但数量并没增加，反而到后期只会越来越少的积分放还市场。
				<br/>
				<!--为响应国家政策，本平台的ST积分会上线各大交易平台交易，暂时均不在本平台与法定货币进行交易兑换，本平台暂不设法定货币充提接口，与法定货币完全脱钩。
				<br/>-->
				<br/>

			<!--	计划：<br/>
				1、2017年10月中旬平台在国内上线运营；<br/>
				2、2017年11月中旬平台所有功能正式上线运营；<br/>
				3、2017年12月ST积分上线各大交易平台交易；<br/>
				4、2018年上半年在美国、日本、韩国、俄罗斯成立运营中心筛选优质实体项目并推广；<br/>
				5、2018年下半年在全球范围内成立运营中心筛选优质实体项目并推广。<br/>-->
<!--
				平台以后所有实体ICO项目都用ST币ICO，并且所有实体ICO项目发行的币都是在ST币基础上发行的，所有实体项目ICO 的币在ICO结束后都将上线本平台自由交易。
				<br><br>
				所有经平台筛选出来上线的实体ICO项目平台都将公示考察过程及结果然后进行评级并附上平台意见及项目不足之处，项目方必须有详细的项目规划，每月将项目进度、工作内容、下时间段计划、财务报表等准时公之于众，并在上线前与平台签订合同拿出每月盈利的固定百分比交由平台回购销毁部门，平台会每月监管查阅项目方财务并公示每月所收到项目方的金额，平台拿项目方合同所签订的盈利百分比金额全部用于回购该项目方ICO所发行的币并立即销毁，直至ICO所发行的币全部回购销毁，平台才与项目方合同终止并下架该项目。（为了防止后期持币人员知道流通币已经不多坐地涨价，平台规定当回收达到第百分之八十个币时，剩余百分之二十的币全按第百分之八十个币的价钱回购。不再加价回购，项目方也只需要缴纳完其余百分之二十的币价即合同终止），当然谋事在人成事在天，实体ICO也是存在一定风险的，请大家投资之前仔细分析权衡风险谨慎投资，我们平台也将筹集一定资金到风险应急部门，万一该实体项目出现破产现象再无能力回购销毁所发行出去的币时，我平台将启动人道回购销毁机制，每月从风险应急部门拿出一定比例资金对该币进行人道主义回购销毁。
				<br><br>
				在ST币单个价格在10元人民币以下时平台每月将利润的百分之八十拿出来对ST币进行回收，当价单个ST币格高于二十元人民币时平台将所持币总量百分十的币缓慢放还于市场，当价单个ST币格高于三十元人民币时平台将所持币总量百分二十的币缓慢放还于市场，以此类推，随着平台所持币的数量的减少，放还的比例高了，但数量并没增加，反而到后期只会越来越少的币放还市场。
-->
				</strong>
			</div>
		</div>
		<!--<div class="row1_max">
			<img src="/Uploads/Public/Uploads/pic/pic4.png" alt="">
		</div>-->
		<div class="row3_1200">
			<p class="title">创始人介绍</p>
			<div class="ctn">
				<div class="left">
					<img src="/Uploads/Public/Uploads/pic/yingjie.png" alt="">
					<dl>
						<dt>罗英杰</dt>
						<dd>清华大学网络高级工程师</dd>
						<dd>潇云居网络科技有限公司技术总监</dd>
					</dl>
				</div>
				<div class="right">
					<img src="/Uploads/Public/Uploads/pic/xiaoyun.png" alt="">
					
<!--
						<dd>实体链（ST）创始人</dd>
						<dd>潇云居实业总经理</dd>
						<dd>全屋云整装总经理</dd>
						<dd>潇云居网络科技有限公司董事长</dd>
						<dd>云盘大亨团队创始人（官网：www.yunpandaheng.com）</dd>
-->					<dl>
						<dt>罗潇云（原名：罗晓云）</dt>
						<dd>潇云居实业董事长</dd>
						<dd>全屋云整装总经理</dd>
						<dd>潇云居网络科技有限公司董事长</dd>
						<dd>云盘大亨团队创始人(官网：www.yunpandaheng.com)</dd>
					</dl>	
				</div>
			</div>
		</div>
		<div class="row2_max">
			<div class="w_1200">
				<div class="pic1">
					<img src="/Uploads/Public/Uploads/pic/001.png" alt="">
				</div>
				<div class="pic2">
					<img src="/Uploads/Public/Uploads/pic/002.png" alt="">
				</div>
				<div class="pic3">
					<img src="/Uploads/Public/Uploads/pic/003.png" alt="">
				</div>
				<p class="title">以上证件均可通过清华大学官网进行查询</p>
			</div>
		</div>
		<div class="row3_max">
			<div class="w_1200">
				<p class="title">我们的初衷</p>
				<p class="ctn">
					我们创办本平台的初衷也是为实体做实在的事，为投资者争取最大的利润保障，所以本平台不花钱请任何对本平台技术、发展起不到任何作用的圈内大咖站台，把所有利润实实在在回报于投资者！
					<br><br><br>
					我们将通过多个资深商业人士对项目进行分析审核作出可行性报告进行筛选，选出优质的实体项目上线平台发行实体项目积分，对于该项目的优质等级以及不足之处我们也会附加我们客观的参考意见，请大家理性投资。
				</p>
			</div>	
		</div>
	</div>
	
</body>
</html>
<include file="App/Home/View/Public/footer.html" />