
<include file="App/Admin/View/Public/left.html" />
<!--/sidebar-->
<div class="main-wrap">
	<div class="crumb-wrap">
		<div class="crumb-list">
			<i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span
				class="crumb-step">&gt;</span><span class="crumb-name">系统设置</span>
		</div>
	</div>
	<div class="result-wrap">
		<form action="{:U('Config/updateCofig')}" method="post" id="myform"
			name="myform" enctype="multipart/form-data">
			<div class="config-items">
				<div class="config-title">
					<h1>
						<i class="icon-font">&#xe00a;</i>网站信息设置
					</h1>
				</div>
				<div class="result-content">
					<table width="100%" class="insert-tab">
						<tbody>
							<tr>
								<th width="15%"><i class="require-red">*</i>微信公众号二维码：</th>
								<td><img style="width: 150px;height: 150px;border-radius: 15px;border: 1px solid;" src="{$config.weixin}"><input type="hidden"
									name="weixin" value="{$config.weixin}" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>微信二维码上传：</th>
								<td><input type="file" name="weixin" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>微信号显示名称：</th>
								<td><input type="text" id="" value="{$config.micromsgname}"
									size="85" name="micromsgname" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>客服QQ：</th>
								<td><input type="text" id="" value="{$config.qq1}"
									size="85" name="qq1" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>客服QQ显示名称：</th>
								<td><input type="text" id="" value="{$config.qqkefuname}"
									size="85" name="qqkefuname" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>客服邮箱：</th>
								<td><input type="text" id="" value="{$config.email}"
									size="85" name="email" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>业务合作：</th>
								<td><input type="text" id="" value="{$config.business_email}"
									size="85" name="business_email" class="common-text"></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>客服电话：</th>
								<td><input type="text" id="" value="{$config.suggest_email}"
									size="85" name="suggest_email" class="common-text"></td>
							</tr>
							
							<tr>
								<th></th>
								<td><input type="submit" value="提交"
									class="btn btn-primary btn6 mr10"> <input type="button"
									value="返回" onclick="history.go(-1)" class="btn btn6"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</form>
	</div>
</div>
<!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(0).show();
$(".sub-menu").eq(0).children("li").eq(3).addClass("on");
</script>
