<include file="App/Home/View/Public/header.html"/>
<style type="text/css">
.qh_both{
	width:1000px;
	height: 600px;
	border: 1px solid #ddd;
	margin: 20px auto;
}
.qh_both_top{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #FF6000;
	overflow: hidden;
}
.qh_both_top_a,.qh_both_top_b,.qh_both_top_c,.qh_both_top_d{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 70px;
	
	font-size: 16px;
	color: #FF6000;
}
.qh_both_top_a span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #FF6000;
	text-align: center;
	line-height: 25px;
	color: white;
	border-radius: 50%;
}
.qh_both_top_b span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #FF6000;
	text-align: center;
	line-height: 25px;
	color: white;
	border-radius: 50%;
}
.qh_both_top_c span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #FF6000;
	text-align: center;
	line-height: 25px;
	color: white;
	border-radius: 50%;
}
.qh_both_top_d span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #FF6000;
	text-align: center;
	line-height: 25px;
	color: white;
	border-radius: 50%;
}
.qh_both_middle{
	width: 100%;
	
	
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.qh_both_middle p{
	font-size: 30px;
	font-weight: 600;
	color: #FF6000;
	margin-bottom: 50px;
}
.qh_both_middle button{
	color: white;
	font-size: 18px;
	font-weight: 600;
	background: #FF6000;
	padding: 10px 65px;
	border-radius: 5px;
	border: none;

}
.qh_both_bottom_left{
	width: 250px;
	height: 250px;
	border: 1px solid #ddd;
	float: left;
	margin-left: 240px;
	text-align: center;
}
.qh_both_bottom_left img{
	width:160px;
	height: 160px;
	display: block;
	margin: 10px auto;
}
.qh_both_bottom_right{
	width: 220px;
	height: 240px;
	border: 1px solid #ddd;
	float: left;
	margin-left: 30px;
	padding-top: 10px;
	padding-left: 30px;
}
.qh_both_bottom_right p{
	font-size: 20px;
	margin-bottom: 10px;
}
.qh_both_bottom_right span{
	line-height: 30px;
}
.sub{
    top: 63px;
}
.qh_sub{
   background: white;
}

</style>  
<div class="qh_both">
	<div class="qh_both_top">
		<div class="qh_both_top_a"><span>1</span>&nbsp;邮箱注册</div>
		<div class="qh_both_top_b"><span>2</span>&nbsp;设置交易密码</div>
		<div class="qh_both_top_c"><span>3</span>&nbsp;实名认证</div>
		<div class="qh_both_top_d"><span>4</span>&nbsp;注册成功</div>
	</div>
	<div class="qh_both_middle">
		<p>恭喜你，注册成功！</p>
		<button>进入实体积分网</button>
	</div>
	<div class="qh_both_bottom">
		<div class="qh_both_bottom_left">
			<img src="../../../../Public/Home/Images/qrcode_ybc.jpg">
			<span>扫一扫关注实体积分网微信公众号，</span><br>
			<span>第一时间获取实体积分网官方信息。</span>
		</div>
		<div class="qh_both_bottom_right">
			<p>官方QQ群：</p>
			<span>实体积分网官方（总群）:536071030</span><br>
			<span>实体积分网官方（一群）:537563724</span><br>
			<span>实体积分网官方（二群）:535625148</span><br>
			<span>实体积分网官方（三群）:348146971</span><br>
		</div>
	</div>
</div>