<include file="App/Home/View/Public/header.html"/>
<style>
.newsarea_box .product {
    width: 840px;
}
</style>
<div id="main">

    <div class="newsarea" style="padding-top:0;">
        <div class="newsarea_box" style="background-color:pink; width:840px;>
            <div class="product left clearfix" style="margin-left:120px;">
                <div style="border-bottom:1px solid #e2e2e2; padding-top:20px; position:relative;"> 
                    <!--文章标题-->               
                    <h2 style="line-height:24px; border:none;">{$list.title}</h2>
                    <!--文章时间-->
                    <p style=" position:absolute; right:40px; bottom:0px; color:#999;">{$list.add_time|date='Y-m-d H:i:s',###}</p>
                </div>

                <!--文章内容-->
                <div>
                    <p>{$list.content}</p>
                </div>
            </div>
         <!--上面为显示的文章-->
    <!--       <div class="right">
            <div class="latest">
              <div class="investmentarea">
                <div class="focusnum1" style="border-bottom:1px solid #eee;">
                
                  <h2 class="left">最新动态</h2>
                  
                  <p class="right"><a href="{:U('Art/index',array('id'=>$art_one['position_id']))}">查看更多</a></p>
                  <div class="clear"></div>
                </div>
                
                <volist name="art_list" id="vos">
                <ul>
                  <a href="{:U('Art/details',array('id'=>$vos['article_id']))}">
                  <li>
                    <p class="left" style="width:190px; line-height:18px; overflow:hidden;">{$vos.title}</p>
                    <p class=" right recruit" style="width:65px; margin-left:0;">{$vos.add_time|date='Y-m-d',###}</p>
                    <div class="clear"></div>
                  </li>
                  </a> 
                </ul>
                </volist>
              
              </div>
            </div>
          </div> -->          
        </div>
    </div>
</div>

<div class="clear"></div>

<!--footer start--> 
<include file="App/Home/View/Public/footer.html"/>
<script>$("#head_nav ul").children("li").eq(5).addClass("cur");</script>